---
# defaults file for database
database_data_dir: /srv/data/postgres
database_log_dir: /srv/logs/postgres

database_name: postgres-16
database_image: postgres:16
database_restart_policy: unless-stopped
database_env:
  POSTGRES_DB: postgres
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres
database_ports: 
  - "5432:5432"
database_volumes:
  - "{{ database_data_dir }}:/var/lib/postgresql/data"
database_healthcheck:
  test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
  interval: 10s
  timeout: 5s
  retries: 5
  start_period: 10s
