# Что надо настроить:

# webservers
# - certbot https://github.com/geerlingguy/ansible-role-certbot
# - configure nginx https://github.com/geerlingguy/ansible-role-nginx
# - caching
# - redirect to https

# worker
# - install docker compose
# - configure user
# - configure firewall
# - configure persistent volumes
# - configure s3
# - docker run

# db
# - for db
# -  migration

---
- name: All Servers Preparation
  hosts: all
  become: true
  tags:
    - common
  roles:
    - role: common

- name: S3 Deployment
  hosts: s3
  become: true
  tags:
    - s3
  roles:
    - role: docker
      when: env == "dev"
    - role: container
      when: env == "dev"
  tasks:
    - name: S3 Provisioning
      ansible.builtin.include_role:
        name: container
      vars:
        container_name: s3_provisioner
        container_image: minio/mc
        container_ports: []
        container_healthcheck: {}
        container_restart_policy: on-failure
        container_entrypoint: >
          /bin/sh -c "
          /usr/bin/mc alias set s3 {{ s3_endpoint }} {{ minio_user }} {{ minio_password }};
          /usr/bin/mc mb s3/{{ bucket_name }};
          exit 0;
          "
       

- name: Database Deployment
  hosts: db
  become: true
  tags:
    - db
  roles:
    - role: docker
    - role: container

- name: Worker Deployment
  hosts: workers
  become: true
  tags:
    - worker
  roles:
    - role: docker
    - role: container

- name: Webservers Deployment
  hosts: webservers
  become: true
  tags:
    - webserver
  roles:
    - role: nginx
#     - role: certbot
  tasks:
    - name: Deploy Frontend
      ansible.builtin.unarchive:
        src: "{{ frontend_artifact }}"
        dest: "{{ vhost_root }}"
        remote_src: yes
        include:
          - "package/dist/"
        extra_opts:
          - --strip-components=2
