# Что надо настроить:

# webservers
# - certbot https://github.com/geerlingguy/ansible-role-certbot
# - configure nginx https://github.com/geerlingguy/ansible-role-nginx
# - caching
# - redirect to https

# worker
# - install docker compose
# - configure user
# - configure firewall
# - configure persistent volumes
# - configure s3
# - docker run

# db
# - for db
# -  migration

---
- name: All Servers Preparation
  hosts: all
  become: true
  roles:
    - role: common

# - name: Webservers Deployment
#   hosts: webservers
#   become: true
#   roles:
#     - role: nginx
#     - role: certbot

- name: Worker Deployment
  hosts: workers
  become: true
  roles:
    - role: docker
    - role: worker

- name: Database Deployment
  hosts: db
  become: true
  roles:
    - role: docker
    - role: database
