container_image: ghcr.io/accesshasbeendenied/project-devops-deploy:sha-b92eb87
container_name: worker
container_data_dir: /srv/data/worker
container_log_dir: /srv/logs/worker
container_ports:
  - 8080:8080
  - 9090:9090
container_env:
  SPRING_PROFILES_ACTIVE: "{{ env }}"
  SPRING_DATASOURCE_URL: "jdbc:postgresql://{{ postgres_host }}:{{ postgres_port }}/{{ postgres_db }}"
  SPRING_DATASOURCE_USERNAME: "{{ postgres_user }}"
  SPRING_DATASOURCE_PASSWORD: "{{ postgres_password }}"
  MANAGEMENT_SERVER_PORT: '9090'
  STORAGE_S3_BUCKET: bulletin
  STORAGE_S3_REGION: us-east-1
  STORAGE_S3_ENDPOINT: http://192.168.56.10:9000
  STORAGE_S3_ACCESSKEY: "{{ minio_user }}"
  STORAGE_S3_SECRETKEY: "{{ minio_password }}"
  # STORAGE_S3_CDNURL: ''
  # JAVA_OPTS: ''


container_healthcheck:
  test: ["CMD-SHELL", "wget --quiet --tries=1 -O /dev/null http://localhost:9090/actuator/health"]
  interval: 10s
  timeout: 5s
  retries: 3
  start_period: 30s